<ion-header>
  <ion-toolbar>
      <ion-title>{{ festival.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  
  <div class="container">
    <section>
      <ion-button routerLink="rooms">Stages / Rooms</ion-button>
      <ion-button routerLink="performers">Performers</ion-button>
      <ion-button routerLink="foodvendors">Food Vendors</ion-button>
      <ion-button routerLink="news">News</ion-button>
    </section>
    <br>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Event Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><img [src]="sanitizeIframeSrc()" alt="Festival Logo" /> </td>
      </tr>
    <tr>
      <td>Start Date:</td>
      <td>{{ festival.dateFrom }} </td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td>{{ festival.dateTo }} </td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>{{ festival.location }} </td>
    </tr>
    <tr>
      <td>Facebook URL:</td>
      <td>{{ festival.facebook }} </td>
    </tr>
    <tr>
      <td>Twitter URL:</td>
      <td>{{ festival.twitter }} </td>
    </tr>
    <tr>
      <td>Add Stage / Room </td>
      <td>
        <form (ngSubmit)="onRoomSubmit()" #roomForm="ngForm">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">Stage / Room Name<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="room.name" id="roomName" name="roomName" #roomName="ngModel"></ion-input>
            </ion-item>
          </ion-list>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="!roomForm.form.valid" class="ion-no-margin"><ion-icon name="add-circle-outline"></ion-icon> Add</ion-button>
          </div>
               
       </form>
      </td>
    </tr>
    <tr>
      <td colspan="2"><ion-button>Change Details</ion-button><ion-button color="danger" (click)='onClickFunction(festival.id)'
        onclick="if (!(confirm('Are you sure you want to delete this event? This will permanently delete all Performers, News and Food Vendors associated with the event!'))) return false">Delete Event</ion-button>
      </td>
    </tr>
  </tbody>
  </table>
</div>
</ion-content>
