<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">First Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="user.firstName" id="firstName" name="firstName" #firstName="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="user.lastName" id="lastName" name="lastName" #lastName="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="email" [(ngModel)]="user.email" id="email" name="email" #email="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="password" id="password_confirmation" name="password_confirmation" [(ngModel)]="passConfirm"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Confirm Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="password" id="password_confirmation" name="password_confirmation" ></ion-input>
    </ion-item> -->
  </ion-list>
	<ion-button expand="block" type="submit" [disabled]="!registrationForm.form.valid" class="ion-no-margin">Create</ion-button>
</form>
