<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Event</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="left" slot="fixed">
    <ion-fab-button routerLink="/tabs/tab1" title="Go back">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <p>
    festivals-form works!
  </p>
  
</ion-content>

