<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink='/tabs/tab1/festivals/{{ cookieValue }}' size="large"
        title="Go back"></ion-icon>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/addnews" title="Add News Item">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br><br><br>


  <div class="container">
    <ion-list>
      <ion-item *ngFor="let newsItem of news">
        <ion-label>{{ newsItem.title }}<h6>Created: {{ newsItem.dateCreated }}</h6></ion-label>
        
        <ion-button [routerLink]="['/newsitem/', newsItem.id]">View</ion-button>
        <ion-button [routerLink]="['/updatenews/', newsItem.id]">Edit</ion-button>
        <ion-button color="danger" (click)='onClickFunction(newsItem.id)'
          onclick="if (!(confirm('Are you sure you want to delete this food vendor?'))) return false">Delete</ion-button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
