<!-- <ion-grid>
    <ion-row justify-content-center>
 <form role="form" (submit)="login()">
	<div class="form-group">
		<label for="username">Email:</label> <input type="text"
			class="form-control" id="username" name="username" [(ngModel)]="credentials.username"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
	</div>
	<button type="submit" size="large" expand="block">Submit</button>
</form>
</ion-row>
</ion-grid> -->

<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center >
        <ion-img src="../../assets/logo.png"></ion-img>
        <br><br>
        <div text-center>
          <h4>Login Form</h4>
    </div>
    
		<form role="form" (submit)="login()">
      
        <div padding>
          <ion-item>
            <ion-input type="email" placeholder="Email Address" id="username" name="username" [(ngModel)]="credentials.username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="credentials.password"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button size="large" type="submit" expand="block">Login</ion-button>
		</div>
		<div padding>
			<a mat-button routerLink="/register">Create Account</a>
		  </div>
		</form>
      </ion-col>
    </ion-row>
  </ion-grid>