<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" routerLink='/tabs/tab1/festivals/{{ cookieValue }}/news' size="large"
        title="Go back"></ion-icon>
    </ion-buttons>
    <ion-title>{{ newsItem.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  
  <div class="container">
    
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Title: {{ newsItem.title }}</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>News Body:</td>
      <td>{{ newsItem.newsBody }}</td>
    </tr>
    <tr>
      <td>Date Created:</td>
      <td>{{ newsItem.dateCreated }} </td>
    </tr>
    <tr>
      <td>Last Updated:</td>
      <td>{{ newsItem.lastUpdated }} </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-button>Edit News Item</ion-button><ion-button color="danger">Delete</ion-button>
      </td>
    </tr>
  </tbody>
  </table>
</div>

</ion-content>
