<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Panel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">
            User Details
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name:</td>
          <td>{{ user.firstName }}</td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>{{ user.lastName }}</td>
        </tr>
        <tr>
          <td>Email Address:</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td colspan="2">
             <ion-button color="danger" (click)='remove(user.id)'
              onclick="if (!(confirm('Are you sure you want to delete this account? This will permanently delete all Events, Performers, News and Food Vendors associated with the event!'))) return false">
              Delete Account</ion-button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
