<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events Panel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/tabs/festivals" title="Add Event">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="container">
    <ion-list>
      <ion-item *ngFor="let festival of festivals">
        <ion-label>{{ festival.name }}</ion-label>
        <ion-button [routerLink]="['festivals/', festival.id]" (click)='festivalCookie(festival.id)'>View</ion-button>
        <ion-button color="danger" (click)='onClickFunction(festival.id)'
        onclick="if (!(confirm('Are you sure you want to delete this event?'))) return false">Delete</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <!-- <app-festivals-list></app-festivals-list> -->
</ion-content>
